#SignButton {
-fx-font-size: 19px;
-fx-background-radius: 24px;
-fx-background-color: ghostwhite;
-fx-border-color: d5972c;
-fx-border-radius: 24px;
-fx-border-style:none;
-fx-border-width: 2;

}
#Username {
-fx-background-radius: 24px;
-fx-background-color: ghostwhite;
-fx-border-color: d5972c;
-fx-border-radius: 24px;
-fx-border-width: 2;
}

#Parola {
-fx-background-radius: 24px;
-fx-background-color: ghostwhite;
-fx-border-color: d5972c;
-fx-border-radius: 24px;
-fx-border-width: 2;
}

#Email {
-fx-background-radius: 24px;
-fx-background-color: ghostwhite;
-fx-border-color: d5972c;
-fx-border-radius: 24px;
-fx-border-width: 2;
}

#ComfirmareParola {
-fx-background-radius: 24px;
-fx-background-color: ghostwhite;
-fx-border-color: d5972c;
-fx-border-radius: 24px;
-fx-border-width: 2;
}


#Login {
-fx-background-color: transparent;
-fx-text-fill: d5972c;
}
#Close{
-fx-background-color: transparent;
}